<div class="container">
  <h1 class="text-center">Sign in</h1>

  <form (submit)="login()">
    <mat-form-field>
      <input
        matInput
        type="text"
        class="form-control"
        name="username"
        placeholder="Enter your username"
        [(ngModel)]="credentials.username"
        autocomplete=""
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        class="form-control"
        name="password"
        placeholder="Password"
        [(ngModel)]="credentials.password"
        autocomplete=""
      />
    </mat-form-field>
    <p class="lead">
      Not a member? Please <a routerLink="/register">register</a> instead.
    </p>
    <button mat-raised-button type="submit" color="primary">
      Sign in!
    </button>
  </form>
</div>
